<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home">
	<!-- NULL을 추가하는 경우 jdbcType을 명시해야 하지만 ""는 명시하지 않아도 됨 -->
	
	

	<!-- 글보기 -->
	<select id="readName" parameterType="long" resultType="String">
		select userName from member1 where memberNum = #{num}
	</select>
	
	
</mapper>