<?xml version="1.0" encoding="UTF-8"?>

	<!-- NULL을 추가하는 경우 jdbcType을 명시해야 하지만 ""는 명시하지 않아도 됨 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeManage">
	<select id="seq" resultType="Long">
		SELECT notice_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertNotice" parameterType="com.sp.yogi.admin.domain.Notice">
		INSERT INTO notice(noticeNum, userId, subject, content, hitCount, reg_date)
		VALUES(#{noticeNum}, #{userId}, #{subject}, #{content}, 0, SYSDATE)
	</insert>
	
	
	<!-- 리스트 -->
	<select id="listNotice" parameterType="map" resultType="com.sp.yogi.admin.domain.Notice">
		SELECT n.noticeNum, n.userId, m.userName, n.subject, n.hitCount, 
			   n.reg_date
		FROM notice n
		JOIN member1 m ON n.userId=m.userId
		LEFT OUTER JOIN (
			SELECT imgNum, noticeNum, imgFileName FROM (
				SELECT imgNum, noticeNum, imgFileName, 
					ROW_NUMBER() OVER(PARTITION BY noticeNum ORDER BY imgNum ASC) rank
				 FROM noticeImg
			) WHERE rank = 1
		) f ON n.noticeNum=f.noticeNum
		
		ORDER BY n.noticeNum DESC
	</select>
	
	<select id="readNotice" parameterType="Long" resultType="com.sp.yogi.admin.domain.Notice">
		SELECT n.noticeNum, n.userId, m.userName, n.subject, n.content, n.hitCount, n.reg_date
		FROM notice n
		JOIN member1 m ON n.userId = m.userId
		WHERE noticeNum = #{noticeNum}
	</select>
	
	<!-- 파일 -->
	<insert id="insertFile" parameterType="com.sp.yogi.admin.domain.Notice">
		INSERT INTO noticeImg(imgNum, noticeNum, imgFileName)
		VALUES (noticeImg_seq.NEXTVAL, #{noticeNum}, #{imgFileName})
	</insert>
	
	<select id="listFile" parameterType="Long" resultType="com.sp.yogi.admin.domain.Notice">
		SELECT imgNum, noticeNum, imgFileName
		FROM noticeImg
		WHERE noticeNum=#{noticeNum}    
	</select>
	
	<select id="readFile" parameterType="Long" resultType="com.sp.yogi.admin.domain.Notice">
		SELECT imgNum, noticeNum, imgFileName
		FROM noticeImg
	    WHERE imgNum=#{imgNum}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Long">
		UPDATE notice SET hitCount=hitCount+1 WHERE noticeNum = #{noticeNum}
	</update>
	
	<!-- 수정 -->
	<update id="updateNotice" parameterType="com.sp.yogi.admin.domain.Notice">
		UPDATE notice SET subject=#{subject},
			content=#{content}
		WHERE noticeNum=#{noticeNum}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteNotice" parameterType="Long">
		DELETE FROM notice WHERE noticeNum = #{noticeNum}
	</delete>
	
	<!-- 파일 삭제 -->
	<delete id="deleteFile" parameterType="map">
		DELETE FROM noticeImg WHERE imgNum = #{imgNum}
	</delete>	
	
</mapper>