<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">

	<select id="readMaxOrderNumber" resultType="String">
		SELECT orderNum
		FROM order_bundle
		ORDER BY order_date DESC
		FETCH FIRST 1 ROWS ONLY
	</select>

</mapper>