<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="register">

	<insert id="insertResRegister" parameterType="com.sp.yogi.owner.register.ResRegister">
		INSERT INTO restaurant(restaurantNum, businessNum, restaurantName, restaurantAddr1, restaurantAddr2, restaurantTel, categoryNum)
		VALUES (#{restaurantNum}, #{businessNum}, #{restaurantName}, #{restaurantAddr1},#{restaurantAddr2}, #{restaurantTel}, #{categoryNum}) 
    </insert>
    
    <update id="updateStatus" parameterType="String">
    	update restaurantId set status = 2 where userId=#{userId}
    </update>

</mapper>